
html, body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;

}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container-text {
    text-align: center;
}


.button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
  

}